body{

margin:0;
background:#0f172a;
color:white;

font-family:Poppins;

}

.background-grid{

position:fixed;
width:100%;
height:100%;

background-image:
linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

background-size:40px 40px;

z-index:-1;

}

header{

text-align:center;
padding:100px 20px;

}

h1{

font-size:48px;
letter-spacing:3px;

}

.subtitle{

color:#38bdf8;

margin-top:10px;

}

.btn{

display:inline-block;
margin:10px;
padding:12px 25px;

background:#22c55e;
color:black;
text-decoration:none;

border-radius:6px;

}

section{

max-width:1000px;
margin:auto;

padding:80px 20px;

}

h2{

color:#22c55e;

margin-bottom:30px;

}

.terminal-box{

background:black;

padding:25px;

font-family:"JetBrains Mono";

border-radius:10px;

box-shadow:0 0 20px rgba(34,197,94,0.4);

}

.green{

color:#22c55e;

}

.skill-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}

.card{

background:#1e293b;

padding:25px;

border-radius:10px;

}

.exp-card{

background:#1e293b;

padding:25px;

border-radius:10px;

}

.metrics{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}

.metric{

background:#1e293b;

padding:30px;

text-align:center;

border-radius:10px;

}

.metric h3{

font-size:40px;

color:#22c55e;

}

footer{

text-align:center;

padding:40px;

color:#94a3b8;

}
